# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ConsoleCalculator.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\stent\OneDrive - South Gloucestershire and Stroud College\2. Programming\1. Visual Studio Projects\ConsoleCalculator\ConsoleCalculator\.idea\.idea.ConsoleCalculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
